<section class="learn-all-area ptb-70">
    <a href="/learn">
    <div class="container-full">
        <p class="lang" key="Learn all"></p> <i class="fas fa-angle-right"></i> 
    </div>
    </a>
</section>