<div class="alert alert-warning" role="alert">
    <i class="fas fa-bell"></i> 
    <script language="javascript">
        var Today=new Date();
        document.write("[" + Today.getFullYear()+ "/" + (Today.getMonth()+1) + "/" + Today.getDate() + "]");
    </script>
    <div class="line lang" key="supports PC"></div>
</div>