<!DOCTYPE html>
<html>
  <head>
      
    <!-- RWD tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap Min CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <!-- Bootstrap Min JS -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <!-- Style CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/stylesheets/responsive.css">
    <!-- FlatIcon CSS -->
    <script src="https://kit.fontawesome.com/d31e8d42e9.js" crossorigin="anonymous"></script>
    <!-- Font Awesome Min CSS -->
    <link rel="stylesheet" href="/stylesheets/fontawesome.min.css">
    <!-- jQuery Min JS -->
    <script src="/javascripts/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Language JS -->
    <script src="/javascripts/language.js"></script>

    <!--Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"></script>

    <title>AI Hedge-Disclaimer</title>
    <link rel="icon" type="image/png" href="/images/logo/logo1.png">
    
  </head>

  <body data-spy="scroll" data-target="#navbar">

    <!-- Start Navbar Area -->
    <%- include('./partials/navbar') %>
    <!-- End Navbar Area -->

    <!-- Start Page Title Area -->
    <div class="page-title-area item-bg3 jarallax">
        <div class="container">
            <div class="page-title-content">
                <h1 class="lang" key="Disclaimer"></h1>
                <h4 class="lang" key="AI Hedge protocol disclaimer"></h4>
            </div>
        </div>
    </div>
    <!-- End Page Title Area -->

    <!-- Start Privacy Area -->
    <section class="privacy-area ptb-70">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <nav id="navbar" class="navbar navbar-light bg-light">
                        <a class="navbar-brand" href="#">Content</a>
                        <nav class="nav nav-pills flex-column">
                            <a class="nav-link" href="#disclaimer">Disclaimer</a>  
                        </nav>
                    </nav>
                </div>
                <div class="col-lg-8 col-sm-9 col-md-9">
                    <div class="single-features">
                        <h3 id="disclaimer">Disclaimer</h3>
                        <p>AI Hedge is a decentralized peer-to-peer protocol that people can use to create make cryptocurrency investments and provide investment strategies to other peers. 
                            AI Hedge is free, public, open-source, or source-available software, 
                            including a set of smart contracts deployed on the Ethereum Blockchain. 
                            Your use of the AI Hedge protocol involves various risks, including, but not limited to, 
                            losses while digital assets are being supplied to the AI Hedge protocol and losses due to the fluctuation of prices of tokens in a trading strategy or strategy pool. 
                            Before using the AI Hedge protocol, you should review the relevant documentation to make sure you understand how the AI Hedge protocol works. 
                            Additionally, just as you can access email protocols such as SMTP through multiple email clients, 
                            you can access the AI Hedge protocol through the latest desktop Chrome is supported. 
                            You are responsible for doing your own diligence on those interfaces to understand the fees and risks they present.
                        </p>
                        <p>As described in the AI Hedge protocol licenses, the AI Hedge protocol is provided ”as is”, at your own risk, 
                            and without warranties of any kind. Although AI Art Inc. 
                            developed much of the initial code for the AI Hedge protocol, it does not provide, own, or control the AI Hedge protocol, 
                            which is run by smart contracts deployed on the Ethereum blockchain. 
                            No developer or entity involved in creating the AI Hedge protocol will be liable for any claims or damages whatsoever associated 
                            with your use, inability to use, or your interaction with other users of, 
                            the AI Hedge protocol, including any direct, indirect, incidental, special, exemplary, punitive or consequential damages, or loss of profits, cryptocurrencies, tokens, or anything else of value.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Privacy Area -->

    <!--Start Footer Area-->
    <%- include('./partials/footer') %>
    <!--End Footer Area-->

  </body>

</html>
