<!DOCTYPE html>
<html>
  <head>
      
    <!-- RWD tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap Min CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <!-- Bootstrap Min JS -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <!-- Style CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/stylesheets/responsive.css">
    <!-- FlatIcon CSS -->
    <script src="https://kit.fontawesome.com/d31e8d42e9.js" crossorigin="anonymous"></script>
    <!-- Font Awesome Min CSS -->
    <link rel="stylesheet" href="/stylesheets/fontawesome.min.css">
    <!-- jQuery Min JS -->
    <script src="/javascripts/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!--Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>AI Hedge-Learn</title>
    <link rel="icon" type="image/png" href="/images/logo/logo1.png">
    
  </head>

  <body>

    <!-- Start Navbar Area -->
    <%- include('./partials/navbar') %>
    <!-- End Navbar Area -->

    <!-- Start Learn Title Area -->
    <div class="learn-title-area item-bg1 jarallax" data-jarallax='{"speed": 0.3}'>
        <div class="container">
            <div class="learn-title-content">
                <h1>Learn</h1>
                <h4>If you encounter any problem while operating the app, you can find the answer here.</h4>
                <h4>Or you can follow us on Youtube and watch videos to learn.</h4>
                <a href="#" class="btn btn-primary">Watch Videos</a>
            </div>
        </div>
    </div>
    <!-- End Learn Title Area -->

    <!-- Start Learn Block Area -->
    <div class="learn-block-area">
        <div class="container">
            <div class="row">
                <ul class="nav-link">
                    <!--<li><a href="#"><i class="fas fa-book-open"></i>ARTICLES</a></li>-->
                    <li class="li-rwd"><a href="#"><i class="fas fa-stream"></i>FLOW INTRODQCTION</a></li>
                    <li><a href="#"><i class="far fa-question-circle"></i>FAQ</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Learn Block Area -->
   
    <!-- Start Learn Area -->
    <section class="learn-area ptb-70">
        <div class="container">
            <div class="section-title title text-left">
                <span>aihedge.finance App</span>
                <h2>Flow Introduction (6)</h2>
                <div class="bar-left"></div>
            </div>
            <div class="row single-features-box">
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <a href="#">
                        <div class="single-features">
                            <img src="/images/learn/1.png" alt="image">
                            <h3>What should I do when I forget my password?</h3>
                            <div class="learn-more">LEARN MORE</div>
                        </div>
                    </a >
                </div>

                <div class="col-lg-4 col-sm-6 col-md-6">
                    <a href="#">
                        <div class="single-features">
                            <img src="/images/learn/2.png" alt="image">
                            <h3>How to link my wallet?</h3>
                            <div class="learn-more">LEARN MORE</div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-sm-6 col-md-6">
                    <a href="#">
                        <div class="single-features">
                            <img src="/images/learn/3.png" alt="image">
                            <h3>How to use Swap to exchange tokens?</h3>
                            <div class="learn-more">LEARN MORE</div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-sm-6 col-md-6">
                    <a href="#">
                        <div class="single-features">
                            <img src="/images/learn/4.png" alt="image">
                            <h3>How to withdraw or deposit tokens from wallet?</h3>
                            <div class="learn-more">LEARN MORE</div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-sm-6 col-md-6">
                    <a href="#">
                        <div class="single-features">
                            <img src="/images/learn/5.png" alt="image">
                            <h3>How to participate in strategic activities and add new positions?</h3>
                            <div class="learn-more">LEARN MORE</div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-sm-6 col-md-6">
                    <a href="#">
                        <div class="single-features">
                            <img src="/images/learn/6.png" alt="image">
                            <h3>I would like to redeem the tokens in the position.</h3>
                            <div class="learn-more">LEARN MORE</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End AI Hedge Area -->

    <!--Start Footer Area-->
    <%- include('./partials/footer') %>
    <!--End Footer Area-->


  </body>

</html>
