<!DOCTYPE html>
<html>
  <head>
      
    <!-- RWD tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap Min CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <!-- Bootstrap Min JS -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <!-- Style CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/stylesheets/responsive.css">
    <!-- FlatIcon CSS -->
    <script src="https://kit.fontawesome.com/d31e8d42e9.js" crossorigin="anonymous"></script>
    <!-- Font Awesome Min CSS -->
    <link rel="stylesheet" href="/stylesheets/fontawesome.min.css">
    <!-- jQuery Min JS -->
    <script src="/javascripts/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Language JS -->
    <script src="/javascripts/language.js"></script>

    <!--Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"></script>

    <title>AI Hedge-Privacy Policy</title>
    <link rel="icon" type="image/png" href="/images/logo/logo1.png">
    
  </head>

  <body>

    <!-- Start Navbar Area -->
    <%- include('./partials/navbar') %>
    <!-- End Navbar Area -->

    <!-- Start Page Title Area -->
    <div class="page-title-area item-bg2 jarallax" data-jarallax='{"speed": 0.3}'>
        <div class="container">
            <div class="page-title-content">
                <h1 class="lang" key="Privacy"></h1>
                <h4 class="lang" key="Data Use and Retention Policy"></h4>
            </div>
        </div>
    </div>
    <!-- End Page Title Area -->

    <!-- Start Privacy Area -->
    <section class="privacy-area ptb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-10 col-md-10">
                    <div class="single-features">

                        <h3>1. WHO WE ARE</h3>
                        <p>This data privacy, use and retention notice (the “Privacy Notice”) applies to all personal information 
                        collection and processing activities carried out by AI Art Inc. and its group (together, “AI Art”). 
                        AI Art is a data controller in respect of personal information that we process in connection with our business 
                        (including the products and services that we provide through the AI Art app). We respect individuals’ 
                        rights to privacy and to the protection of personal information. 
                        The purpose of this Privacy Notice is to explain how we collect and use personal information in connection with our business. 
                        “Personal information” means information about a living individual who can be identified from that information 
                        (either by itself or when it is combined with other information). <br>
                        We may update our Privacy Notice from time to time. When we do we will communicate any changes to you and publish the updated 
                        Privacy Notice on our website. We would encourage you to visit our website regularly to stay informed of 
                        the purposes for which we process your information and your rights to control how we process it.
                        </p>

                        <h3>2. THE INFORMATION WE PROCESS</h3>
                        <p>We collect and process various categories of personal information at the start of, and for the duration of, 
                        your relationship with us. We will limit the collection and processing of information to information necessary 
                        to achieve one or more legitimate purposes as identified in this notice. Personal information may include:</p>
                        <ul class="article-features-list">
                            <li>basic personal information, including name and address, date of birth and contact details;</li>
                            <li>financial information, including account and transactional information and history;</li>
                            <li>goods and services we provide to you;</li>
                            <li>visual images and personal appearance<br> (such as copies of passports or real-time biometric facial scans);</li>
                            <li>online profile and social media information and activity, based on your interaction with us and our websites and 
                            applications, including for example your login information, Internet Protocol (IP) address, smart device information, 
                            location coordinates, online and mobile app security authentication, 
                            mobile phone network information, searches, site visits and spending patterns.
                            </li>   
                        </ul>
                        <p>
                            We may also process certain special categories of information for specific and limited purposes,
                            such as detecting and preventing financial crime or to make our services accessible to customers.
                            We will only process special categories of information where we’ve obtained your explicit consent
                            or are otherwise lawfully permitted to do so (and then only for the particular purposes and 
                            activities set out at Schedule B for which the information is provided). This may include biometric
                            information, relating to the physical, physiological or behavioral characteristics of a person,
                            including, for example, fingerprint or facial recognition or similar technologies to help us 
                            prevent fraud and money laundering. Where permitted by law, we may process information about 
                            criminal convictions or offenses and alleged offenses for specific and limited activities and
                            purposes, such as to perform checks to prevent and detect crime and to comply with laws relating
                            to money laundering, fraud, terrorist financing, bribery and corruption, and international 
                            sanctions. It may involve investigating and gathering intelligence on suspected financial 
                            crimes, fraud and threats and sharing data with taxation, law enforcement and regulatory bodies.
                        </p>
                        
                        <h3>3. HOW WE OBTAIN INFORMATION</h3>
                        <p>Your information is made up of all the financial and personal information we collect and hold 
                            about you/your business and the proprietors, officers and beneficial owners of that business 
                            and your transactions. It may include:
                        </p>
                        <ul class="article-features-list">
                            <li>information you give to us;</li>
                            <li>information that we receive from third parties – including other AI Art group companies, third parties who provide services to you or us, credit reference, fraud prevention or government agencies,</li>
                            <li>and other financial institutions (where permitted by law);</li>
                            <li>information that we learn about you through our relationship with you and the way you operate your accounts and/or services, such as the payments made to and from your accounts;</li>
                            <li>information that we gather from the technology which you use to access our services (for example location data from your mobile phone, or an IP address or telephone number) and how you use it (for example pattern recognition); and</li>
                            <li>information that we gather from publicly available sources, such as the press, the electoral register, company registers and online search engines.</li>
                        </ul>

                        <h3>4. YOUR RIGHTS</h3>
                        <p>
                            We want to make sure you are aware of your rights in relation to the personal information 
                            we process about you. We have described those rights and the circumstances in which they 
                            apply in the table at Schedule A. If you wish to exercise any of these rights, if you have 
                            any queries about how we use your personal information that are not answered here, or if 
                            you wish to complain to our Data Protection team, please contact us at contact@aiart.io. 
                            Please note that in some cases, if you do not agree to the way we process your information, 
                            it may not be possible for us to continue to operate your account and/or provide certain 
                            products and services to you through the AI Art app. In the event our relationship with you 
                            terminated (for example, you choose to close your AI Art Account), you may request the erasure
                            of your personal data by contacting contact@aiart.io. Please note that AI Art will only comply
                            with such requests to the extent it is legally obligated to and depending on your account 
                            activity until that date, certain personal data may be maintained in accordance with anti-money
                            laundering and counter-terrorist financing legislation to which AI Art is subject.
                        </p>

                        <h3>5. CHANGES TO THE WAY WE USE YOUR INFORMATION</h3>
                        <p>
                            From time to time we may change the way we use your information. Where we believe you may not 
                            reasonably expect such a change we will notify you and will allow a period of at least 30 days
                            for you to raise any objections before the change is made. However, please note that in some 
                            cases, if you do not agree to such changes it may not be possible for us to continue to operate
                            your account and/or provide certain products and services to you through the AI Art app.
                        </p>

                        <h3>6. HOW WE MAY USE AND SHARE YOUR INFORMATION WITH OTHER AI Art GROUP COMPANIES</h3>
                        <p>
                            We will only use and share your information where it is necessary for us to lawfully carry out our 
                             business activities. Your information may be shared with and processed by other AI Art group companies.
                            We want to ensure that you fully understand how your information may be used. We have described the
                            purposes for which your information may be used in detail in a table in Schedule B – Purposes of 
                            Processing.
                        </p>

                        <h3>7. SHARING WITH THIRD PARTIES</h3>
                        <p>
                            We will not share your information with anyone outside of the AI Art group except:
                        </p>
                        <ul class="article-features-list">
                            <li>where we have your permission;</li>
                            <li>where required to provide your product(s) or service(s);</li>
                            <li>where we are required by law and by law enforcement agencies, judicial bodies, government entities, tax authorities or regulatory bodies around the world;</li>
                            <li>with other financial institutions and third parties where required by law to help recover funds that have entered your account as a result of a misdirected payment by such a third party;</li>
                            <li>with third parties providing services to us, such as market analysis and benchmarking, correspondent banking, and agents and sub-contractors acting on our behalf, such as the companies which 
                                print our packing labels and provide your currency accounts;</li>
                            <li>with other financial institutions to help trace funds where you are a victim of suspected financial crime and you have agreed for us to do so, or where we suspect funds have entered your account
                                as a result of a financial crime;</li>
                            <li>with debt collection agencies;</li>
                            <li>with credit reference and fraud prevention agencies;</li>
                            <li>with third-party guarantors or other companies that provide you with benefits or services (such as insurance cover) associated with your product or service;</li>
                            <li>where required for a proposed sale, reorganization, transfer, financial arrangement, asset disposal or other transaction relating to our business and/or assets held by our business;</li>
                            <li>in anonymized form as part of statistics or other aggregated data shared with third parties; or</li>
                            <li>where permitted by law, it is necessary for our legitimate interests or those of a third party, and it is not inconsistent with the purposes listed above.</li>
                        </ul>
                        <p>
                            If you ask us to, we will share information with any third party that provides you with account 
                            information or payment services. If you ask a third-party provider to provide you with account 
                            information or payment services, you’re allowing that third party to access information relating
                            to your account. We are not responsible for any such third party’s use of your account information,
                            which will be governed by their agreement with you and any privacy statement they provide to you.
                            In the event that any additional authorized users are added to your account, we may share 
                            information about the use of the account by any authorized user with all other authorized users.
                            AI Art will not share your information with third parties for their own marketing purposes 
                            without your permission.
                        </p>

                        <h3>8. TRANSFERRING INFORMATION OVERSEAS</h3>
                        <p>
                            We may transfer your information to or your information may be collected directly by 
                             organizations in other countries (including other AI Art group companies, for example 
                            in Ukraine, where AI Art’s Customer Support function is located) on the basis that anyone 
                            to whom we pass that information or who collects it directly protects it in the same way 
                            we would and in accordance with applicable laws. In the event that we transfer information 
                            to countries outside of the European Economic Area (which includes countries in the European 
                            Union as well as Iceland, Liechtenstein and Norway), we will only do so where:
                        </p>
                        <ul class="article-features-list">
                            <li>the European Commission has decided that the country or the organization we are sharing your information with will protect your information adequately;</li>
                            <li>the transfer has been authorized by the relevant data protection authority; and/or</li>
                            <li>we have entered into a contract (deed of adherence) with the organization with which we are sharing your information (based on the model clauses proposed by the European Commission) to ensure your information is adequately protected.</li>
                        </ul>

                        <h3>9. MARKETING INFORMATION</h3>
                        <p>
                            Upon signing up to use AI Art’s services, you may consent to hear from us regarding marketing 
                            updates. We will send you relevant marketing information (including details of other products 
                            or services provided by us or other AI Art group companies which we believe may be of interest 
                            to you), by email. If you change your mind about how you would like us to contact you or you no 
                            longer wish to receive this information, you can simply unsubscribe from our marketing emails 
                            at any time by clicking “Unsubscribe” in any previous communication we have sent or by contacting 
                            us at: contact@aiart.io
                        </p>
                                
                        <h3>10. COMMUNICATIONS ABOUT YOUR ACCOUNT</h3>
                        <p>
                            We will contact you with information relevant to the operation and maintenance of your 
                            AI Art account (including updated information about how we process your personal information), 
                            by a variety of means including via, email, text message, and in-app notifications. If at any 
                            point in the future you change your contact details you should tell us promptly about those 
                            changes. We may monitor or record calls, emails, text messages or other communications in 
                            accordance with applicable laws for the purposes outlined in Schedule A – Purposes of Processing.
                        </p>
                                
                        <h3>11. FRAUD PREVENTION</h3>
                        <p>
                            We may access and use information from fraud prevention agencies when you open your account and periodically to:
                        </p>
                        <ul class="article-features-list">
                            <li>manage and take decisions about your accounts;</li>
                            <li>prevent criminal activity, fraud and money laundering; and</li>
                            <li>check your identity and verify the accuracy of the information you provide to us;</li>
                        </ul>
                        <p>
                            Application decisions may be taken based solely on automated checks of information, for example 
                            from fraud prevention agencies and internal AI Art records. To help us make decisions on verifying 
                            your AI Art account, as well as transaction limits on your AI Art account, we look at information 
                            you give us when you apply for a AI Art Account; including biometric data such as your photograph 
                            and/ or facial scan, information regarding your location, age, nationality and/ or citizenship and 
                            other information which enables us to verify your identity and perform a risk assessment for money 
                            laundering and fraud prevention purposes. You have rights in relation to the automated 
                            decision-making used in the verification process, including a right to attempt account verification 
                            again, or contact our Customer Support team if your application is refused. We will also profile your 
                            AI Art.
                        </p>
                        <p>
                            Account to assign a risk rating for the purposes of fraud and unusual transaction monitoring and 
                            unauthorized access prevention. The information we will use to profile you will include your age, 
                            bank country of residence and status as a politically exposed person or otherwise. We will continue 
                            to collect and monitor information about how you manage your AI Art account including your account 
                            balance, payments into your account, the regularity of payments being made, and any default in making 
                            payments, while you have a relationship with us. This information may be made available to other 
                            organizations (including fraud prevention agencies and other financial institutions) so that they can 
                            take decisions about you. If false or inaccurate information is provided and/or fraud is identified or 
                            suspected, details will be passed to relevant fraud prevention agencies. Law enforcement agencies and 
                            other organizations may access and use this information. We cooperate fully to the extent of our legal 
                            obligations in the prevention of fraud, money laundering and counter-terrorism. If we, or a fraud 
                            prevention agency, determine that you pose a fraud, money laundering or other criminal risk, we may 
                            refuse to provide the services you have requested, or we may stop providing existing services to you. 
                            A record of any fraud, money laundering or other criminal risk will be retained by the fraud 
                            prevention agencies, and may result in others refusing to provide services, financing or employment to 
                            you. Fraud prevention agencies can hold your information for different periods of time, and if you are 
                            considered to pose a fraud or money laundering risk, your data can be held for up to six years. When 
                            fraud prevention agencies process your information, they do so on the basis that they have a 
                            legitimate interest in preventing fraud and money laundering, and to verify your identity, in order 
                            to protect their business and to comply with laws that apply to them.
                        </p>
                                
                        <h3>12. HOW LONG WE KEEP YOUR INFORMATION</h3>
                        <p>
                            By providing you with products or services, we create records containing your information, such 
                            as customer account records and activity and transaction records. Records can be held on a variety 
                            of media (physical or electronic) and formats, but they are primarily held electronically. We manage 
                            our records to help us to better serve our customers (for example for operational reasons, such as 
                            dealing with any queries relating to your account) and to comply with legal and regulatory 
                            requirements. Records help us demonstrate that we are meeting our responsibilities and to keep as 
                            evidence of our business activities. Retention periods for records are determined based on the type 
                            of record, the nature of the activity, product or service, the country in which the relevant AI Art 
                            company is located and the applicable local legal or regulatory requirements. We (and other AI Art 
                            group companies) normally keep customer account records for up to six years after your relationship 
                            with AI Art ends. Retention periods may be changed from time to time (or waived where deemed low-risk) 
                            based on business or legal and regulatory requirements. Where there has been no activity on your AI 
                            Art account since it was opened, we may delete your data after a period of 6 months, as you will be 
                            deemed an "unactivated user". If there has been any transactional activity on your account, we will 
                            maintain your data until you request that we delete it, unless we are obligated to maintain such 
                            data to comply with our legal obligations. We may on exception retain your information for longer 
                            periods than those stated above, particularly where we need to withhold destruction or disposal based 
                            on an order from the courts or an investigation by law enforcement agencies or our regulators. 
                            This is intended to make sure that AI Art will be able to produce records as evidence, if they’re 
                            needed. If you would like more information about how long we keep your information, please contact 
                            us at: contact@aiart.io
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Privacy Area -->

    <!--Start Footer Area-->
    <%- include('./partials/footer') %>
    <!--End Footer Area-->

  </body>

</html>
