<!DOCTYPE html>
<html>
  <head>
      
    <!-- RWD tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap Min CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <!-- Bootstrap Min JS -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <!-- Style CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/stylesheets/responsive.css">
    <!-- FlatIcon CSS -->
    <script src="https://kit.fontawesome.com/d31e8d42e9.js" crossorigin="anonymous"></script>
    <!-- Font Awesome Min CSS -->
    <link rel="stylesheet" href="/stylesheets/fontawesome.min.css">
    <!-- jQuery Min JS -->
    <script src="/javascripts/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Language JS -->
    <script src="/javascripts/language.js"></script>

    <!--Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"></script>

    <title>AI Hedge-Trademark</title>
    <link rel="icon" type="image/png" href="/images/logo/logo1.png">
    
  </head>

  <body>

    <!-- Start Navbar Area -->
    <%- include('./partials/navbar') %>
    <!-- End Navbar Area -->

    <!-- Start Page Title Area -->
    <div class="page-title-area item-bg3 jarallax">
        <div class="container">
            <div class="page-title-content">
                <h1 class="lang" key="Trademark"></h1>
                <h4 class="lang" key="AI Hedge / AI Art Trademark Guidelines"></h4>
            </div>
        </div>
    </div>
    <!-- End Page Title Area -->

    <!-- Start Privacy Area -->
    <section class="privacy-area ptb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-10 col-md-10">
                    <div class="single-features">

                        <h3></h3>
                        <p>
                            AI Hedge/AI Art Inc. distributed the open-source AI Hedge DAPP software with smart contract compiled on Ethereal Blockchain. 
                            When we mention AI Hedge, it also includes AI Art. While our code is in part available to download, review, 
                            and improve under open-source and source-available software licenses, none of our licenses include a license to use our trademarks. 
                            Proper use of our trademarks is essential to inform users whether or not AI Hedge stands behind a product or service. 
                            When using AI Hedge's trademarks, you must comply with these AI Hedge Trademark Guidelines. 
                            Just like other projects that develop open-source software, we must enforce our trademark rights to protect our users.
                        </p>
                        <p>
                            This policy covers all of our trademarks and services marks, 
                            whether they are registered or not, including, among others:
                            <ul class="article-features-list">
                                <li>Our word trademarks and service marks: <br/>AI Hedge®(”AI Hedge's wordmarks”) / AI Art ®(”AI Art wordmarks”).</li>
                                <li>AI Hedge logos AI Art logos.</li>
                            </ul>
                        </p>
                        <p>
                            If you want to report misuse of the AI Hedge trademark, please contact us at 
                            <a href="https://t.me/aiartinc" target="_blank">Telegram(AI Art Official).</a>
                        </p>

                        <h3>1. Acceptable Uses</h3>
                        <p>You may do the following without receiving specific permission from AI Hedge:
                            <ul class="article-features-list">
                                <li>
                                    Use AI Hedge's wordmarks in the text to truthfully refer to or link to unmodified AI Hedge smart contracts, 
                                    protocols, interfaces, programs, products, services, and technologies.
                                </li>
                                <li>
                                    Use the AI Hedge wordmarks to truthfully describe modified versions of 
                                    AI Hedge software that you may create or make available.<br/>
                                    For example, you may say ”This service uses software is derived from AI Hedge software.
                                </li>
                                <li>
                                    Use the AI Hedge logo in software or aggregators that integrate with AI Hedge software 
                                    to truthfully refer to, and, where possible, 
                                    link to the applicable AI Hedge software hosted on the Ethereum blockchain.
                                </li>
                                <li>
                                    Use AI Hedge's wordmarks to clearly signal to users that there is no affiliation 
                                    with or endorsement by AI Hedge.
                                </li>
                                <li>Follow the terms of the open-source licenses for AI Hedge software.</li>
                            </ul>
                        </p>

                        <h3>2. Has been allowed</h3>
                        <p>When allowed, how can I use the AI Hedge trademark?
                            <ul class="article-features-list">
                                <li>
                                    You must include a trademark attribution notice at the first or 
                                    most prominent mention of the mark on a webpage, document or documentation, 
                                    such as: ”[AI Hedge trademark] is a trademark of AI Hedge.”
                                </li>
                                <li>
                                    You may not change the logo except to scale it. If the logo is used, 
                                    you must give the AI Hedge logo adequate spacing from the other elements on the webpage or 
                                    document to ensure legibility and reduce the likelihood of confusion.
                                </li>
                                <li>
                                    You must always use the wordmarks in their exact form and with the correct spelling, 
                                    neither abbreviated, hyphenated nor combined with any other word or words.
                                </li>
                                <li>
                                    You must always use the AI Hedge wordmarks only as an adjective, never as a noun or verb, 
                                    or in plural or possessive forms.
                                    - Instead, use the generic term for the AI Hedge product or service following the trademark.
                                    - For example AI Hedge protocol, AI Hedge interface.
                                </li>
                            </ul>
                        </p>
                        <p>
                            <strong style="text-decoration:underline;">All other uses of the AI Hedge trademark require our prior written permission.</strong>
                            <br/>Contact us at <a href="https://t.me/aiartinc" target="_blank">Telegram(AI Art Official)</a> for more information.
                        </p>

                        <h3>3. Unacceptable Uses</h3>
                        <p>Some specific things you should not do include:
                            <ul class="article-features-list">
                                <li>
                                    <strong>Don't use our trademarks in anything dishonest or fraudulent.</strong>
                                </li>
                                <li>
                                    <strong>Our name is not your name.</strong> Don't use AI Hedge trademarks in the name of your smart contract, 
                                    interface, business, product, service, app, domain name, publication, or other offerings.
                                </li>
                                <li>
                                    <strong>Don't use our name for your products.</strong> Don't apply AI Hedge trademarks to any product (e.g., a mobile app), 
                                    unless such use is limited to a truthful and descriptive reference (e.g., ”Mobile App for trading on AI Hedge interface”).
                                </li>
                                <li>
                                    <strong>Don't overemphasize our mark.</strong> Don't display AI Hedge trademarks more prominently than your product, service, or company name.
                                </li>
                                <li>
                                    <strong>Don't create or use confusingly similar names.</strong> Don't use AI Hedge trademarks, logos, company names, slogans, 
                                    domain names, or designs that are confusingly similar to AI Hedge trademarks, particularly in the name of your smart contract, 
                                    interface, business, product, service, app, domain name, publication, or other offerings.
                                </li>
                                <li>
                                    <strong>Don't imply our sponsorship of your products.</strong> Don't use AI Hedge trademarks in a way that incorrectly implies affiliation with, 
                                    sponsorship, endorsement, or approval by  AI Hedge of your products or services. For example, 
                                    please do not name your project compatible with AI Hedge software.
                                </li>
                                <li>
                                    <strong>Don't imply our sponsorship of your activities.</strong> Don't use AI Hedge trademarks and logos, 
                                    or confusingly similar trademarks or logos on social media accounts in a way that might suggest affiliation with 
                                    AI Hedge or AI Hedge software; except if you've received prior permission from AI Hedge. 
                                    For example, you cannot name your account, page, or community ”AI Hedge Protocol” or ”AI Hedge Team.” However, 
                                    it would be acceptable to name your account, page, or community ”Fans of AI Hedge” or ”Information about AI Hedge”.
                                </li>
                                <li>
                                    <strong>Don't create swag with our marks.</strong> Don't use AI Hedge trademarks on merchandise for sale 
                                    (e.g., selling t-shirts, mugs, etc.) unless you have permission from AI Hedge.
                                </li>
                                <li>
                                    <strong>Don't change or combine our marks.</strong> Don't modify AI Hedge trademarks, abbreviate them, 
                                    or combine them with any other symbols, words, or images, or incorporate them into a tagline or slogan.
                                </li>
                            </ul>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Privacy Area -->

    <!--Start Footer Area-->
    <%- include('./partials/footer') %>
    <!--End Footer Area-->

  </body>

</html>
