/*================================================
Responsive Area CSS
=================================================*/

/* Desktop / Large screens */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  /* Overview – single column, centered */
  .overview-box .overview-content {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .overview-box .overview-content .content {
    max-width: 600px;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }

  /* Overview – single column, centered */
  .overview-box .overview-content {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .overview-box .overview-content .content {
    max-width: 600px;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .aihedge-area .single-features {
    height: 360px;
  }

  .learn-area .single-features {
    height: 350px;
  }
}

/* Tablets / small desktops: 901–991 */
@media only screen and (min-width: 901px) and (max-width: 991px) {
  .container {
    max-width: 900px;
  }

  /* Overview – single column, centered */
  .overview-box .overview-content {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .overview-box .overview-content .content {
    max-width: 600px;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .aihedge-area .single-features {
    height: 350px;
  }

  .learn-area .single-features {
    height: 350px;
  }
}

/* Tablets: 768–900 */
@media only screen and (min-width: 768px) and (max-width: 900px) {
  .container {
    width: 92%;
  }

  /* Overview – single column, centered */
  .overview-box .overview-content {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .overview-box .overview-content .content {
    max-width: 600px;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .aihedge-area .single-features {
    height: 350px;
  }

  .learn-area .single-features {
    height: 350px;
  }

  .message-area .single-features {
    height: 280px;
  }
}

/* Mobile: max 767 */
@media only screen and (max-width: 767px) {
  .container {
    width: 92%;
  }

  .luvion-nav {
    display: none;
  }

  .luvion-nav-rwd {
    display: block;
  }

  .page-title-area {
    padding-top: 160px;
    padding-bottom: 70px;
  }

  .page-title-content h1 {
    font-size: 36px;
  }

  .page-title-content h4 {
    font-size: 18px;
  }

  .main-banner {
    height: auto;
    padding-top: 120px;
    padding-bottom: 40px;
  }

  .main-banner-content {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }

  /* Overview – single column, centered */
  .overview-box .overview-content {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 40px;
  }

  .overview-box .overview-content .content {
    max-width: 100%;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .whatwedo-area .image {
    margin-top: 20pt;
  }

  .aihedge-area .single-features {
    height: auto;
  }

  .learn-area .single-features {
    height: auto;
  }

  .message-area .single-features {
    height: auto;
  }

  .aboutteam-area img {
    margin-top: 0;
  }

  .aboutteam-area .single-features-box {
    margin-left: 0;
    margin-right: 0;
  }

  .careers-area .single-features-box {
    margin-left: 0;
    margin-right: 0;
  }

  .learn-block-area li {
    display: inline-block;
  }

  .learn-block-area .li-rwd {
    margin-bottom: 18px;
  }

  .learn-block-area a {
    text-decoration: none;
    color: #000;
    padding: 5px 8px;
    border-radius: 8px;
    font-weight: 700;
    background: #fff;
  }
}

/* Very small devices: 376–575 */
@media only screen and (min-width: 376px) and (max-width: 575px) {
  .container {
    width: 92%;
  }
}

/* 415–540 (some larger phones) */
@media only screen and (min-width: 415px) and (max-width: 540px) {
  .container {
    width: 92%;
  }

  .learn-area .single-features {
    height: 350px;
  }
}

/* Extra small phones: 281–375 */
@media only screen and (min-width: 281px) and (max-width: 375px) {
  .container {
    width: 92%;
  }

  /* Learn Area */
  .learn-block-area li {
    display: inline-block;
  }

  .learn-block-area .li-rwd {
    margin-bottom: 18px;
  }

  .learn-block-area a {
    text-decoration: none;
    color: #000;
    padding: 5px 8px;
    border-radius: 8px;
    font-weight: 700;
    background: #fff;
  }
}

/* Ultra small: max 281 */
@media only screen and (max-width: 281px) {
  .container {
    width: 90%;
  }

  /* Learn Area */
  .learn-block-area li {
    display: block;
  }

  .learn-block-area .li-rwd {
    margin-bottom: 18px;
  }

  .learn-block-area a {
    text-decoration: none;
    color: #000;
    padding: 5px 8px;
    border-radius: 8px;
    font-weight: 700;
    background: #fff;
  }

  .learn-area .single-features {
    height: 280px;
  }

  .aihedge-area .single-features {
    height: auto;
  }
}

/* Mobile navbar styles (from your snippet) */
.luvion-nav-rwd {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 999;
  background-color: #000;
  transition: 0.5s;
  padding-top: 10px;
  padding-bottom: 10px;
}

.luvion-nav-rwd .navbar {
  padding: 0;
}

.luvion-nav-rwd .navbar ul {
  list-style-type: none;
}

.luvion-nav-rwd .navbar .navbar-nav {
  font-family: "Raleway", sans-serif;
  margin-left: auto;
}

.luvion-nav-rwd .navbar .navbar-nav .nav-item {
  position: relative;
  padding: 10px 0;
}

.luvion-nav-rwd .navbar .navbar-nav .nav-item a {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  text-transform: capitalize;
  padding: 0;
  margin: 0 3px;
  transition: 0.7s;
}

.luvion-nav-rwd .navbar .navbar-nav .nav-item a i {
  font-size: 10px;
  margin-left: 1px;
}

.luvion-nav-rwd .navbar .navbar-nav .nav-item:hover a,
.luvion-nav-rwd .navbar .navbar-nav .nav-item.active a {
  color: #35edd6;
  font-weight: 700;
}
